Create Article

<div data-controller="article-upload">
  <%= form_with url: articles_path, id: 'file-upload-form' do |form| %>
    <%= form.file_field :files, multiple: true, name: 'files[]', id: 'file-input', data: {article_upload_target: 'input'} %>
    <div data-article-upload-target="fileNamesContainer"></div>
    <div data-article-upload-target="staffContainer" style="display: none">
      <%= form.label 'List emails:' %>
      <%= form.text_field :emails %>
    </div>
    <%= form.submit %>
  <% end %>
</div>
